@model StockMaze.Models.Vendor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vendor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vendorId" />
            <div class="form-group">
                <label asp-for="vendorName" class="control-label"></label>
                <input asp-for="vendorName" class="form-control" />
                <span asp-validation-for="vendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendorAddress" class="control-label"></label>
                <input asp-for="vendorAddress" class="form-control" />
                <span asp-validation-for="vendorAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendorPhone" class="control-label"></label>
                <input asp-for="vendorPhone" class="form-control" />
                <span asp-validation-for="vendorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendorEmail" class="control-label"></label>
                <input asp-for="vendorEmail" class="form-control" />
                <span asp-validation-for="vendorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />|
                 <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
